*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
}

:root {
    --accentColor: #828282;
    --white: #ffffff;
  }

  .navbar {
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: left;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999999;
    align-items: flex-start;
    padding-top: 15px; 
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.navbar a {
    color: rgb(59, 59, 59);
    text-decoration: none;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    margin: 0 20px;
    transition: font-size 0.3s ease;
}

.navbar a:hover {
    color: #383838;
}

.main-nav {
    position: fixed;
    width: 100%;
}

.fixed {
    top: 15%;
    opacity: 100%;
    position: fixed;
    transition: all 0.7s ease-in-out;
}

.visible {
    opacity: 1 !important;
}

.nav-item {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 50px;
    left: auto; 
    width: 300px; /* Increased width */
    max-width: calc(100vw - 40px); /* Ensure it doesn't exceed the viewport width */
    text-align: center;
    padding: 20px;
    background-color: #fbfbfb;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out; /* Transition effect */
}

.submenu-title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 3rem; 
    margin-bottom: 10px;
    text-align: left; /* Added */
}

.submenu-description {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.2rem; 
    margin: 0 auto;
    text-align: left; /* Added */
}

.nav-item:hover .submenu {
    display: block;
}
  
  .hero__section {
    color: #fff;
    background-image: url(blob.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    z-index: 7;
    overflow: hidden;
}

.hero__wrapper{
    display: grid;
    height: 100vh;
}

@media screen and (max-width: 1300px) {
    .hero__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
  }

.column__left {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    justify-content: center;
}
.column__left h1 {
    font-size: 6.5rem;
    margin-bottom: 10px;
    font-weight: 800;
    color: #222222;
}
@media screen and (max-width: 1300px) {
    .column__left h1{
        font-size: 4.5rem;
    }
  }
  @media screen and (max-width: 640px) {
    .column__left h1{
        font-size: 1*vh;
    }
  }
.column__left p {
    font-family: 'Jost', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 0px;
    color: #3f3f3f;
}
@media screen and (max-width: 1300px) {
    .column__left p{
        font-size: 1.7rem;
    }
  }
.column__left span {
    color: var(--accentColor);
    font-family: 'Jost', sans-serif;
    font-size: 2.4rem;
}
@media screen and (max-width: 1300px) {
    .column__left span{
      font-size: 1.7rem;
    }
  }

  .input-wrapper {
    margin-top: 25px;
    height: 50px;
    display: flex;
    position: relative;
    width: 700px;
    align-items: center;
    background-color: #fff;  /* White background */
    border-radius: 20px;  /* More rounded edges */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Slight shadow for depth */
}

input[type="url"] {
    padding: 10px 15px 10px 25px;
    border-radius: 20px;  /* More rounded to match the wrapper */
    border: none;  /* Remove the border */
    width: 80%;  /* Give some space for the button */
    font-weight: 550;  /* Bold text */
    color: #333;  /* Darker text color */
    background-color: transparent;  /* No background, use the wrapper's background */
    outline: none;  /* Remove outline */
    transition: box-shadow 0.3s ease;  /* Transition on shadow instead of border color */
}

button#analyzeBtn {
    padding: 8px 20px;  /* More padding for the button */
    background-color: #1f1f1f;
    color: #fff;
    border: none;
    border-radius: 15px;  /* More rounded button */
    cursor: pointer;
    height: 42px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: absolute;
    right: 6px;  /* Spacing from the right, adjusted */
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    font-weight: bold;  /* Bold text on button */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Button shadow for depth */
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.invalid-btn {
  animation: shake 0.5s;
  background-color: rgb(140, 20, 20) !important;
  color: #fff;
}


button#analyzeBtn:hover {
    background-color: #7a7a7a;
}

button#analyzeBtn:active {
    background-color: #ffffff;  /* Even darker shade for active state */
    transform: translateY(-50%) scale(0.93);  /* Pressed in effect on active */
}

.info-card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.card-description {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}
.url-preview {
    height: 50vh;  /* adjust this as needed */
    margin: 10px;
    padding-top: 50px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-btn {
    padding: 8px 20px;
    background-color: #848484;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 42px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    position: relative;  /* Removed the absolute positioning */
    transform: none;  /* Reset the transform */
}

.card-btn:hover {
    background-color: #475a3c;
}

.card-btn:active {
    background-color: #36452d;
    transform: scale(0.95);
}

@keyframes shake {
  0% { transform: translate(-3px, -50%); }
  25% { transform: translate(3px, -50%); }
  50% { transform: translate(-3px, -50%); }
  75% { transform: translate(3px, -50%); }
  100% { transform: translate(0px, -50%); }
}